.browse {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  margin: 20px;
}

.page-content {
  margin-top: 80px;
}

.browse_title_text {
  margin-top: 80px;
}
