header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: #50a050;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  margin: 0;
  color: #fff;
  font-size: 60px;
  font-family: Crimson Pro;
}

h1 a {
  text-decoration: none;
  color: inherit;
}

.header-pages {
  position: absolute;
  left: 20px;
  display: flex;
}

.header-pages h2 {
  margin-right: 30px;
  font-family: Crimson pro;
  background-color: #50a050;
  color: white;
  font-size: 30px;
  outline: none;
}

h2 a {
  text-decoration: none;
  color: inherit;
}

.header-account {
  position: absolute;
  right: 20px;
}

.header-account h2 {
  color: white;
  font-size: 23px;
  font-family: Content;
  font-weight: 700;
  text-align: right;
}
